{% macro translations_for(entry) %}
  {% if entry.translations %}
  <span class="meta">
    Also in:
    {% for translation in entry.translations %}
    <a href="{{ SITEURL }}/{{ translation.url }}" hreflang="{{ translation.lang }}">{{ translation.lang }}</a>
    {% endfor %}
  </span>
  {% endif %}
{% endmacro %}

{% macro entry_hreflang(entry) %}
  {% if entry.translations %}
    {% for translation in entry.translations %}
  <link rel="alternate" hreflang="{{ translation.lang }}" href="{{ SITEURL }}/{{ translation.url }}" />
    {% endfor %}
  {% endif %}
{% endmacro %}
